In [4]:
import pandas as pd
import matplotlib
import scipy.stats

In [19]:
musicdf = pd.read_csv("musicdata.csv",encoding = "ISO-8859-1")
musicdf = musicdf.drop(columns = 'Unnamed: 0')
musicdf.head()

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [21]:
musicten = musicdf[musicdf['year'] == 2010]
musiceleven = musicdf[musicdf['year'] == 2011]
musictwelve = musicdf[musicdf['year'] == 2012]
musicthirteen = musicdf[musicdf['year'] == 2013]
musicfourteen = musicdf[musicdf['year'] == 2014]
musicfifteen = musicdf[musicdf['year'] == 2015]
musicsixteen = musicdf[musicdf['year'] == 2016]
musicseventeen = musicdf[musicdf['year'] == 2017]
musiceighteen = musicdf[musicdf['year'] == 2018]
musicnineteen = musicdf[musicdf['year'] == 2019]

In [75]:
def countvalue(df, col_name, col_val):
    newdf = df[df[col_name] == col_val]
    return len(newdf)

In [79]:
#calculate the total number of pop songs that were in the top charts in 2010
countvalue(musicten, 'top genre', 'pop')

3

In [78]:
#calculate the total number of pop songs that were in the top charts in 2019
countvalue(musicnineteen, 'top genre', 'pop')

9

In [80]:
#calculate the total number of songs in 2017 that were 200 seconds long
countvalue(musicseventeen, 'dur', 200)

0

In [38]:
tenstats = musicten.describe()
tenstats = tenstats.drop(columns = 'year')
tenstats

,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,122.058824,77.901961,64.529412,-4.901961,21.176471,57.000000,229.803922,11.627451,8.882353,64.254902
std,25.308032,14.953601,14.412984,1.360219,17.120404,22.001818,33.858541,19.993960,9.322332,13.227007
min,43.000000,37.000000,23.000000,-8.000000,4.000000,7.000000,172.000000,0.000000,3.000000,0.000000
25%,111.500000,73.500000,56.500000,-5.500000,9.000000,43.500000,207.500000,1.000000,4.000000,59.000000
50%,125.000000,82.000000,67.000000,-5.000000,13.000000,61.000000,221.000000,3.000000,5.000000,65.000000
75%,130.500000,87.000000,75.000000,-4.000000,31.500000,74.000000,252.000000,14.500000,10.000000,73.000000
max,186.000000,98.000000,83.000000,-2.000000,70.000000,88.000000,329.000000,85.000000,45.000000,83.000000

In [89]:
elevenstats = musiceleven.describe()
elevenstats = elevenstats.drop(columns = 'year')

In [88]:
twelvestats = musictwelve.describe()
twelvestats = twelvestats.drop(columns = 'year')

In [87]:
thirteenstats = musicthirteen.describe()
thirteenstats = thirteenstats.drop(columns = 'year')

In [86]:
fourteenstats = musiceleven.describe()
fourteenstats = fourteenstats.drop(columns = 'year')

In [85]:
fifteenstats = musicfifteen.describe()
fifteenstats = fifteenstats.drop(columns = 'year')

In [84]:
sixteenstats = musicsixteen.describe()
sixteenstats = sixteenstats.drop(columns = 'year')

In [83]:
seventeenstats = musicseventeen.describe()
seventeenstats = seventeenstats.drop(columns = 'year')

In [82]:
eighteenstats = musiceighteen.describe()
eighteenstats = eighteenstats.drop(columns = 'year')

In [81]:
nineteenstats = musicnineteen.describe()
nineteenstats = nineteenstats.drop(columns = 'year')

In [49]:
nineteenstats.corr()

,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
bpm,1.000000,0.920091,0.975939,-0.613372,0.392366,0.757474,0.986870,0.414910,0.096647,0.966495
nrgy,0.920091,1.000000,0.962930,-0.400747,0.477502,0.910729,0.914054,0.531021,0.249654,0.895776
dnce,0.975939,0.962930,1.000000,-0.502527,0.376433,0.795121,0.973981,0.397579,0.139984,0.980138
dB,-0.613372,-0.400747,-0.502527,1.000000,0.247350,-0.162736,-0.680800,0.187797,0.640941,-0.593316
live,0.392366,0.477502,0.376433,0.247350,1.000000,0.748787,0.283806,0.982844,0.890684,0.224824
val,0.757474,0.910729,0.795121,-0.162736,0.748787,1.000000,0.720775,0.807958,0.533836,0.662329
dur,0.986870,0.914054,0.973981,-0.680800,0.283806,0.720775,1.000000,0.312153,-0.025656,0.979455
acous,0.414910,0.531021,0.397579,0.187797,0.982844,0.807958,0.312153,1.000000,0.845682,0.231937
spch,0.096647,0.249654,0.139984,0.640941,0.890684,0.533836,-0.025656,0.845682,1.000000,-0.013957
pop,0.966495,0.895776,0.980138,-0.593316,0.224824,0.662329,0.979455,0.231937,-0.013957,1.000000

In [96]:
nineteenstats['bpm'].corr(nineteenstats['dnce'])

0.9759387982531719

In [100]:
musicnineteen.mean()['dB'] - musicten.mean()['dB']

-0.8722327640733711

In [101]:
def calculatecorr (df, col_name1, col_name2):
    corrval = df[col_name1].corr(df[col_name2])
    return corrval

In [103]:
calculatecorr(tenstats, 'dB', 'val')

0.03346927667410302

In [104]:
def differenceinmean(df1, df2, col_name):
    difference = df1.mean()[col_name] - df2.mean()[col_name]
    return difference

In [105]:
differenceinmean(musiceleven, musicthirteen, 'dur')

8.073079989370171